@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #7aaec6;
    border-radius: 6px;
    border: 3px solid #e2f5fe;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5a89a0;
}

:root {
    --primary-color: #e2f5fe;
    --second-color: rgb(129, 210, 248);
    --background-color: rgb(250, 254, 255);
    --text-color: #000000;
    --accent-color-1: #8bc1ff;
    --accent-color-2: #91ffc5;
    --accent-color-3: #fff27a;
    --btn-background-color: black;
    --btn-text-color: white;
    --footer-text-color: black;
    --link-hover-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scrollbar-width: thin;
    scrollbar-color: #7aaec6 #f1f1f1;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: #000000;
    font-size: 1.6rem;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 15vh;
}

.btn {
    color: white;
    background-color: black;
    text-decoration: none;
    cursor: pointer;
    border: none;
    box-shadow: none;
    padding: 1.5rem 2.5rem;
    border-radius: 2.5rem;
    margin-left: 2.5rem;
    margin: 1rem;
    font-size: 1.7rem;
    transform: scale(1);
    transition: transform 0.25s ease;
    font-family: 'Inter', sans-serif;
}

.btn:hover {
    transform: scale(1.06);
}

.header {
    width: 100%;
    height: 10vh;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.3s ease;
}

.header__logo {
    position: absolute;
    left: 19rem;
}

.header__logo a {
    font-family: 'League Spartan';
    font-size: 6.4rem;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.header__menu {
    margin: 0 auto;
}

.header__menu-list {
    display: flex;
    gap: 3.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #e2f5fe;
    padding: 1.5rem 5rem;
    border-radius: 2rem;
}

.header__menu-item a {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
    border-bottom: 0px solid transparent;
    transition: border-bottom .3s ease;
}

.header__menu-item a:hover {
    color: #333;
    border-bottom: 1px solid black;
}

.header__user {
    position: absolute;
    right: 18rem;
}

.header.hidden {
    top: -10vh;
}

.hero {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.hero a {
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}

.hero__title {
    font-size: 4.2rem;
}

.hero__description {
    font-size: 1.8rem;
}

.hero__button {
    padding: 1.5rem 3.5rem;
    font-size: 1.9rem;
    margin-bottom: 3.5rem;
}

.image {
    background-color: #e2f5fe;
    width: 100%;
    height: 45rem;
    margin: 0 auto;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
    margin-top: 8rem;
}

.section__title {
    font-size: 3.4rem;
}

.section__description {
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
}

.card-container {
    display: flex;
    gap: 3.5rem;
    justify-content: center;
}

.card {
    background-color: #e2f5fe;
    border-radius: 4rem;
    width: fit-content;
    padding: 5rem;
    position: relative;
    transition: transform 0.3s ease;
    cursor: default;
}

.card:hover {
    transform: translateY(-15px);
}

.card__content {
    display: flex;
    flex-direction: column;
}

.card__icon {
    width: fit-content;
    padding: 0.8rem 1.2rem 0.7rem;
    margin-bottom: 1.5rem;
    border-radius: 2.5rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.card:hover .card__icon {
    color: white;
    background-color: black;
}

.card__icon svg {
    width: 5rem;
    height: 5rem;
}

.card__icon--1 {
    background-color: #8bc1ff;
}

.card__icon--2 {
    background-color: #91ffc5;
}

.card__icon--3 {
    background-color: #fff27a;
}

.card__texts-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.card__texts-description {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: rgb(52, 52, 52);
}

.card:hover .card__texts-description {
    opacity: 1;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.faq-card {
    background: linear-gradient(56deg, rgba(0, 0, 0, 1) 0%, rgba(24, 31, 40, 1) 10%, rgb(50, 69, 78) 100%);
    background-size: 2000%;
    background-position: left left;
    color: white;
    border-radius: 1.5rem;
    padding: 3rem;
    width: 70%;
    margin: 0 auto;
    position: relative;
    transition: background-size .35s ease, background-position .4s ease-out, transform .3s ease;
}

.faq-card:hover {
    transform: scale(1.03);
}

.faq-card.expanded {
    background-size: 100%;
    background-position: center left;
}

.faq-card__header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq-card__header svg {
    width: 2rem;
}

.faq-card__header-texts {
    display: flex;
    gap: 1.5rem;
}

.faq-card__number,
.faq-card__title {
    font-weight: 600;
    font-size: 2rem;
}

.arrow {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.arrow.expanded {
    transform: rotate(180deg);
}

.arrow.collapsed {
    transform: rotate(0deg);
}

.faq-card__content {
    margin-top: 10px;
    display: none;
}

.faq-card__text {
    margin-top: 1.8rem;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: start;
    font-weight: 300;
    font-size: 1.6rem;
    box-shadow: 0px 0px 97px -36px rgba(0,0,0,0.75);
}

.footer {
    margin-top: 8rem;
}

.footer__copy {
    color: black;
    text-align: center;
    padding: 1.5rem 0;
}
