<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Gustavo Guimarães Lins de Araújo">
    <meta name="description" content="Simplify inventory management with StockFlow - your secure and intuitive solution to streamline operations.">
    <title>Dashboard | StockFlow</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body>
    <div class="app-container">
        <div class="hero">
            <h1 class="hero__title">Dashboard</h1>
        </div>
    </div>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>